html, body{
	font-size:16px;
	color: #F0F0F0;
	background-color: #0A4F63;
}

a {
  color: #00FFC8;
  font-weight: 500;
}

a:hover {
  color: #00FFD4;
  text-decoration: underline;
  box-shadow: 0 0 15px rgba(255, 60, 60, 0.6),
              0 0 25px rgba(255, 40, 40, 0.4),
              0 0 35px rgba(255, 30, 30, 0.2);
  border-radius: 3px;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #0A4F63;
}

.section-2 {
	background-color: #031E2B;
}

.section-3 {
	background-color: #0D3D3D;
}

.section-4 {
	background-color: #0A4F63;
	padding: 0.2rem;
}

a.nav-item {
	color: #F0F0F0;
	font-weight: 500;
}

a.nav-item:hover {
	color: #00FFC8;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 3px solid rgba(0, 255, 200, 0.3);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #0A4F63;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #F0F0F0;
	}

	.nav-toggle span:hover {
		background-color: #00FFC8;
	}

}
